// -------------------------------------------------------------- //
// Login -------------------------------------------------------- //
// -------------------------------------------------------------- //
.account-login {
    .row {
        margin: 0;
    }

    .column {
        background-color: $white;
        padding: 0;
    }

    .column-inner {
        background-color: $concrete;
        padding: em(30);
    }

    .registration-open {
        .column-left {
            @include bp(min-width, $large-min) {
                border-right: em(30) solid $white;
                width: 51%;
            }
        }

        .column-right {
            margin-top: em(30);

            @include bp(min-width, $large-min) {
                width: 49%;
                margin-top: 0;
            }
        }
    }

    .account-login-contents {
        @include bp(min-width, $large-min) {
            background-color: $concrete;
        }
    }
}