// -------------------------------------------------------------- //
// Typography --------------------------------------------------- //
// -------------------------------------------------------------- //
h1,
.h1 {
    font-size: em(18);
    margin-bottom: em(10, 18);
}

h2,
.h2 {
    font-size: em(18);
    margin-bottom: em(10, 18);
}

h3,
.h3 {
    font-size: em(15);
    margin-bottom: em(10, 15);
}