body, html {
    height: 100%;
}

a, a:hover, a:active, a:focus {
    outline: 0;
    text-decoration: none;
    color: #232323;
    @include transition(color .1s linear);
}

img {
    max-width: 100%;
    height: auto;
}