// Prices
// --------------------------------------------------
.price { 
	white-space:nowrap !important;
}

.price-box { 
	margin:5px 0;

	.price { 
		font-weight:bold;
	}
}


// Regular price
// --------------------------------------------------
.regular-price {
	.price { 
		font-weight:bold; 
		font-size:13px; 
	}
}


// Old price
// --------------------------------------------------
.old-price { 
	margin:0; 

	.price-label { 
		white-space:nowrap; 
	}
	
	.price { 
		font-weight:bold; 
		text-decoration:line-through;
	}
}


// Special price
// --------------------------------------------------
.special-price	{ 
	margin:0; 
	padding:3px 0;

	.price-label { 
		font-size:13px; 
		font-weight:bold;
		white-space:nowrap;
	}
	
	.price { 
		font-size:13px; 
		font-weight:bold;
	}
}


// Minimal price (as low as)
// --------------------------------------------------
.minimal-price { 
	margin:0;

	.price-label { 
		font-weight:bold; 
		white-space:nowrap;
	}
}

.minimal-price-link { 
	display:block;

	.price { 
		font-weight:normal;
	}
}


// Excluding tax
// --------------------------------------------------
.price-excluding-tax { 
	display:block;

	.label { 
		white-space:nowrap;
	}

	.price { 
		font-size:13px;
		font-weight:normal;
	}
}


// Including tax
// --------------------------------------------------
.price-including-tax { 
	display:block; 

	.label {
		white-space:nowrap;
	}
	
	.price { 
		font-size:13px; 
		font-weight:bold; 
	}
}


// FPT
// --------------------------------------------------
.weee { 
	display:block; 
	font-size:11px; 

	.price { 
		font-size:11px; 
		font-weight:normal;
	}
}


// Excl tax (for order tables)
// --------------------------------------------------
.price-excl-tax { 
	display:block;

	.label { 
		display:block; 
		white-space:nowrap;
	}
	
	.price { 
		display:block;
	}
}


// Incl tax (for order tables)
// --------------------------------------------------
.price-incl-tax { 
	display:block; 

	.label { 
		display:block; 
		white-space:nowrap;
	}

	.price { 
		display:block; 
		font-weight:bold;
	}
}


// Price range
// --------------------------------------------------
.price-from { 
	margin:0;

	.price-label { 
		font-weight:bold; 
		white-space:nowrap;
	}
}

.price-to { 
	margin:0;

	.price-label { 
		font-weight:bold; 
		white-space:nowrap;
	}
}


// Price notice next to the options
// --------------------------------------------------
.price-notice { 
	padding-left:10px; 

	.price { 
		font-weight:bold; 
	}
}


// Price as configured
// --------------------------------------------------
.price-as-configured { 
	margin:0; 

	.price-label { 
		font-weight:bold; 
		white-space:nowrap;
	}
}

.price-box-bundle { 
	padding:0 0 10px 0;

	.price-box { 
		margin:0 !important; 
		padding:0 !important;
	}
}


// Tier Prices
// --------------------------------------------------
.tier-prices { 
	margin:10px 0; 
	padding:10px; 
	background-color:#f4f7f7; 
	border:1px solid #dadddd; 

	li { 
		line-height:1.4; 
		background:url(../images/i_tier.gif) no-repeat 0 3px; 
		padding:2px 0 2px 10px; 
	}

	.benefit { 
		font-style:italic; 
		font-weight:bold;
	}

	.price { 
		font-weight:bold;
	}
}

.tier-prices-grouped {
	li { 
		padding:2px 0; 

		.price { 
			font-weight:bold;
		}
	}
}