// Navigation
// --------------------------------------------------
.nav-container { 
	float: left;
	width: 100%;
	background: #F7F7F7;
	margin-bottom:10px;
}

#nav { 
	float:left; 
	margin:12px 0 0 29px; 
	font-size:12px;


	// All Levels - Style consistent throughout all nav levels
	// --------------------------------------------------
	li { 
		position:relative;
		text-transform:uppercase; 
		text-align:left;

		&.over { 
			z-index:998;
		}
	}

	a,
	a:hover { 
		display:block; 
		line-height:1.3em; 
		text-decoration:none;
	}
	
	span { 
		display:block; 
		cursor:pointer; 
		white-space:nowrap;
	}
	
	li ul span { 
		white-space:normal;
	}


	// 0 Level
	// --------------------------------------------------
	li { 
		float:left; 
		margin:1px 8px 11px 1px; 
		padding:3px 8px;

		&.active a { 
			color:#444;
		}

		&.over,
		&.active { 
			margin:0 7px 10px 0; 
			border:1px solid #bbb; 
			background:#ececec;
		}
	}

	a { 
		float:left; 
		padding-right:11px; 
		color:#444; 
		font-weight:bold;
	}
	
	li.over a,
	a:hover { 
		color:#444;
	}
	
	
	// 1st Level
	// --------------------------------------------------
	ul li,
	ul li.active,
	ul li.over { 
		float:none; 
		border:none; 
		background:none; 
		margin:0; 
		padding:0; 
		padding-bottom:1px; 
		text-transform:none;
	}
	
	ul li.last { 
		padding-bottom:0;
	}
	
	ul li.active { 
		margin:0; 
		border:0; 
		background:none;
	}
	
	ul a,
	ul a:hover { 
		float:none; 
		padding:0; 
		background:none;
	}
	
	ul li a { 
		font-weight:normal !important;
	}


	// 2nd Level
	// --------------------------------------------------
	ul,
	div { 
		position:absolute; 
		width:15em; 
		top:22px; 
		left:-10000px; 
		border:1px solid #bbb; 
		border-bottom:2px solid #999; 
		padding:3px 8px; 
		background:#fcfcfc; 
		font-size:11px;
	}
	
	div ul { 
		position:static; 
		width:auto; 
		border:none; 
		padding:0;
	}


	// 3rd+ Level
	// --------------------------------------------------
	ul ul,
	ul div { 
		top:5px;
	}
	
	ul li a { 
		padding:3px 0; 
		color:#444 !important;

		&:hover { 
			padding:3px 0; 
			color:#5a7f00 !important;
		}
	}


	// Show menu
	// --------------------------------------------------
	li ul.shown-sub,
	li div.shown-sub { 
		left:-1px; 
		z-index:999;
	}
	
	li .shown-sub ul.shown-sub,
	li .shown-sub li div.shown-sub { 
		left:100px;
	}
}