// -------------------------------------------------------------- //
// Category ----------------------------------------------------- //
// -------------------------------------------------------------- //
.category-description {
    margin-bottom: em(20, 13);
    font-size: em(13);
    color: $boulder;
}