// clearfix mixin
// --------------------------------------------------
@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

// media query mixin
// --------------------------------------------------
@mixin breakpoint($point) {
  @if $point == large {
    @media (min-width: 1200px) { @content; }
  }
  @else if $point == medium {
    @media (min-width: 992px) { @content; }
  }
  @else if $point == small {
    @media (min-width: 768px)  { @content; }
  }
}