// fonts
// --------------------------------------------------
$fontWeight300:     300;
$fontWeight400:     400;
$fontWeight600:     600;
$fontWeight700:     700;

$fontBase:          'Open Sans', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;

// colors
// --------------------------------------------------
$colorWhite:        #fff;

// tools
// --------------------------------------------------
$alignCenter:       center;
$alignLeft:         left;
$alignRight:        right;
$alignTop:          top;
$alignBottom:       bottom;
$alignMiddle:       middle;