// fonts
// --------------------------------------------------
$fontBase:          'Open Sans', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;

// colors
// --------------------------------------------------
$colorWhite:        #fff;

// tools
// --------------------------------------------------
$alignCenter:       center;
$alignLeft:         left;
$alignRight:        right;
$alignTop:          top;
$alignBottom:       bottom;
$alignMiddle:       middle;