// -------------------------------------------------------------- //
// Header ------------------------------------------------------- //
// -------------------------------------------------------------- //
.page-header {
    padding: em(130) 0 em(100);

    .logo {
        font-weight: bold;
        font-size: em(32);
        color: $mine-shaft;
    }
}