// clearfix mixin
// --------------------------------------------------
@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

// media query mixin
// --------------------------------------------------
@mixin breakpoint($point) {
  @if $point == large {
    @media (min-width: 1200px) { @content; }
  }
  @else if $point == medium {
    @media (min-width: 992px) { @content; }
  }
  @else if $point == small {
    @media (min-width: 768px)  { @content; }
  }
}

// background image retina mixin
// e.g @include background-image-retina("../images/sprite", png, 750px, 750px, "repeat-x");
// --------------------------------------------------
@mixin background-image-retina($file:"../images/sprite", $type:"png", $width:750px, $height:750px, $repeat: no-repeat) {
    background-image: url($file + '.' + $type);
    background-repeat: $repeat;

        @media
        screen and (-webkit-min-device-pixel-ratio: 1.5),
        screen and (-moz-min-device-pixel-ratio: 1.5),
        screen and (min-device-pixel-ratio: 1.5) {
        & {
            background-image: url($file + '@2x.' + $type);
            -webkit-background-size: $width $height;
            -moz-background-size: $width $height;
            -o-background-size: $width $height;
            background-size: $width $height;
        }
    }
}

// placeholder mixin
// --------------------------------------------------
@mixin placeholder($color) {
  &::-webkit-input-placeholder { color: $color; } // Safari and Chrome
  &:-moz-placeholder           { color: $color; } // Firefox 4-18
  &::-moz-placeholder          { color: $color; } // Firefox 19+
  &:-ms-input-placeholder      { color: $color; } // Internet Explorer 10+
}

// user select mixin
// --------------------------------------------------
@mixin userSelect {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}