// Messages
// --------------------------------------------------
.success { 
	font-weight:bold;
}

.error { 
	font-weight:bold;
}

.messages,
.messages ul { 
	list-style:none !important; 
	margin:0 !important; 
	padding:0 !important;
}

.messages { 
	width:100%; 
	overflow:hidden;

	li { 
		margin:0 0 10px !important;

		li { 
			margin:0 0 3px !important;
		}
	}
}

.error-msg,
.success-msg,
.note-msg,
.notice-msg {
	border-style:solid !important; 
	border-width:1px !important; 
	background-position:10px 9px !important; 
	background-repeat:no-repeat !important; 
	min-height:24px !important; 
	padding:8px 8px 8px 32px !important; 
	font-size:11px !important; 
	font-weight:bold !important; 
}

.error-msg { 
	border-color:#f16048; 
	background-color:#faebe7; 
	background-image:url(../images/i_msg-error.gif);
}

.success-msg { 
	border-color:#446423; 
	background-color:#eff5ea; 
	background-image:url(../images/i_msg-success.gif);
}

.note-msg,
.notice-msg { 
	border-color:#fcd344; 
	background-color:#fafaec; 
	background-image:url(../images/i_msg-note.gif); 
}