// base
// --------------------------------------------------
body,
button,
input,
select,
table,
textarea {
    font-family: $fontBase;
    font-weight: 400;
    font-size: 13px;
    color: #232323;
}

// headings
// --------------------------------------------------
h1,
h2,
h3,
h4,
h5,
h6 { }