// Forms
// --------------------------------------------------


// Form Elements
// --------------------------------------------------
input,
select,
textarea,
button { 
	font:12px/15px Arial, Helvetica, sans-serif; 
	vertical-align:middle; 
	color:#2f2f2f;
}

input.input-text, 
select, 
textarea { 
	background:#fff; 
	border:1px solid #b6b6b6;
}

input.input-text, 
textarea { 
	padding:2px;
}

select { 
	padding:1px;

	option { 
		padding-right:10px;
	}

	&.multiselect option { 
		border-bottom:1px solid #b6b6b6; 
		padding:2px 5px;

		&:last-child { 
			border-bottom:0;
		}
	}
}

textarea { 
	overflow:auto;
}

input.radio { 
	margin-right:3px;
}

input.checkbox { 
	margin-right:3px;
}

input.qty { 
	width:2.5em !important;
}

button.button { 
	overflow:visible; 
	width:auto; 
	border:0; 
	padding:0; 
	margin:0; 
	background:transparent; 
	cursor:pointer;

	span { 
		display:block; 
		height:19px;
		line-height:23px; 
		border:1px solid #de5400; 
		background:#f18200; 
		padding:0 8px; 
		font:bold 12px/19px Arial, Helvetica, sans-serif; 
		text-align:center; 
		white-space:nowrap;
		color:#fff;

		span { 
			border:0; 
			padding:0; 
		}
	}

	&.disabled span { 
		border-color:#bbb !important; 
		background:#bbb !important;
	}
}

button.btn-checkout {
	span { 
		height:40px; 
		border:0; 
		background:url(../images/btn_checkout.gif) 0 0 no-repeat; 
		padding:0 0 0 9px; 
		font:bold 15px/40px Arial, Helvetica, sans-serif;

		span { 
			background-position:100% 0; 
			padding:0 25px 0 16px; 
			text-shadow:none;
		}
	}

	&.no-checkout span { 
		background-position:0 100%; 

		span { 
			background-position:100% 100%;
			color:#fff;
		}
	}
}

p.control input.checkbox,
p.control input.radio { 
	margin-right:6px;
}


// Form lists
// --------------------------------------------------
.form-list {
	li { 
		margin:0 0 8px;

		&.control {
			label { 
				float:none;
			}

			input.radio,
			input.checkbox { 
				margin-right:6px;
			}

			.input-box { 
				clear:none; 
				display:inline; 
				width:auto;
			}
		}

		&.wide {
			.input-box { 
				width:535px;
			}

			input.input-text { 
				width:529px;
			}

			textarea { 
				width:529px;
			}

			select { 
				width:535px;
			}
		}

		&.additional-row { 
			border-top:1px solid #ccc; 
			margin-top:10px; 
			padding-top:7px;

			.btn-remove { 
				float:right; 
				margin:5px 0 0; 
			}
		}
	}

	label { 
		float:left; 
		font-weight:bold; 
		position:relative; 
		z-index:0;

		&.required em { 
			float:right; 
			font-style:normal;  
			position:absolute; 
			top:0; 
			right:-8px;
		}
	}

	input-box { 
		display:block; 
		clear:both; 
		width:260px;
	}

	.field { 
		float:left; 
		width:275px;
	}

	input.input-text { 
		width:254px;
	}

	textarea { 
		width:254px; 
		height:10em;
	}

	select { 
		width:260px;
	}

	.input-range input.input-text { 
		width:74px;
	}
}


// Customer 
// --------------------------------------------------
.form-list .customer-name-prefix .input-box,
.form-list .customer-name-suffix .input-box,
.form-list .customer-name-prefix-suffix .input-box,
.form-list .customer-name-prefix-middlename .input-box,
.form-list .customer-name-middlename-suffix .input-box,
.form-list .customer-name-prefix-middlename-suffix .input-box { 
	width:auto;
}

.form-list .name-prefix { 
	width:65px;

	select { 
		width:55px;
	}

	input.input-text { 
		width:49px;
	}
}

.form-list .name-suffix { 
	width:65px;

	select { 
		width:55px;
	}

	input.input-text { 
		width:49px;
	}
}

.form-list .name-middlename { 
	width:70px;

	input.input-text { 
		width:49px;
	}
}

.form-list .customer-name-prefix-middlename-suffix .name-firstname,
.form-list .customer-name-prefix-middlename .name-firstname { 
	width:140px;
}

.form-list .customer-name-prefix-middlename-suffix .name-firstname input.input-text,
.form-list .customer-name-prefix-middlename .name-firstname input.input-text { 
	width:124px;
}

.form-list .customer-name-prefix-middlename-suffix .name-lastname { 
	width:205px;
}

.form-list .customer-name-prefix-middlename-suffix .name-lastname input.input-text { 
	width:189px;
}

.form-list .customer-name-prefix-suffix .name-firstname { 
	width:210px;
}

.form-list .customer-name-prefix-suffix .name-lastname { 
	width:205px;
}

.form-list .customer-name-prefix-suffix .name-firstname input.input-text,
.form-list .customer-name-prefix-suffix .name-lastname input.input-text { 
	width:189px;
}

.form-list .customer-name-prefix-suffix .name-firstname { 
	width:210px;
}

.form-list .customer-name-prefix-suffix .name-lastname { 
	width:205px;
}

.form-list .customer-name-prefix-suffix .name-firstname input.input-text,
.form-list .customer-name-prefix-suffix .name-lastname input.input-text { 
	width:189px;
}

.form-list .customer-name-prefix .name-firstname,
.form-list .customer-name-middlename .name-firstname { 
	width:210px;
}

.form-list .customer-name-suffix .name-lastname,
.form-list .customer-name-middlename .name-firstname,
.form-list .customer-name-middlename-suffix .name-firstname,
.form-list .customer-name-middlename-suffix .name-lastname { 
	width:205px;
}

.form-list .customer-name-prefix .name-firstname input.input-text,
.form-list .customer-name-suffix .name-lastname input.input-text,
.form-list .customer-name-middlename .name-firstname input.input-text,
.form-list .customer-name-middlename-suffix .name-firstname input.input-text,
.form-list .customer-name-middlename-suffix .name-lastname input.input-text { 
	width:189px;
}

.form-list .customer-dob .dob-month,
.form-list .customer-dob .dob-day,
.form-list .customer-dob .dob-year 	{ 
	float:left; 
	width:85px; 
}

.form-list .customer-dob input.input-text { 
	display:block; 
	width:74px;
}

.form-list .customer-dob label { 
	font-size:10px; 
	font-weight:normal;
}

.form-list .customer-dob .dob-day,
.form-list .customer-dob .dob-month { 
	width:60px;
}

.form-list .customer-dob .dob-day input.input-text,
.form-list .customer-dob .dob-month input.input-text { 
	width:46px;
}

.form-list .customer-dob .dob-year { 
	width:140px;

	input.input-text { 
		width:134px; 
	}
}

.buttons-set { 
	clear:both; 
	margin:4em 0 0; 
	padding:8px 0 0; 
	border-top:1px solid #e4e4e4; 
	text-align:right;

	p.required { 
		margin:0 0 10px;
	}

	.back-link { 
		float:left; 
		margin:0;
	}

	button.button { 
		float:right; 
		margin-left:5px;
	}
}

.buttons-set-order { 
	margin:10px 0 0;

	.please-wait { 
		padding:12px 7px 0 0;
	}
}

.fieldset { 
	border:1px solid #bbafa0; 
	background:#fbfaf6; 
	padding:22px 25px 12px 33px; 
	margin:28px 0;

	.legend { 
		float:left; 
		font-weight:bold; 
		font-size:13px; 
		border:1px solid #f19900; 
		background:#f9f3e3;  
		margin:-33px 0 0 -10px; 
		padding:0 8px; 
		position:relative;
	}
}


// Form Validation 
// --------------------------------------------------
.validation-advice { 
	clear:both; 
	min-height:13px; 
	margin:3px 0 0; 
	padding-left:17px; 
	font-size:11px; 
	font-weight:bold; 
	line-height:13px; 
	background:url(../images/validation_advice_bg.gif) 2px 0 no-repeat;
}

.validation-failed { 
	border:1px dashed #eb340a !important;
	background:#faebe7 !important;
}

p.required { 
	font-size:11px; 
	text-align:right;
}