$sprite__icon-minus-white__x : 90px;
$sprite__icon-minus-white__y : 0px;
$sprite__icon-minus-white__offset-x : -90px;
$sprite__icon-minus-white__offset-y : 0px;
$sprite__icon-minus-white__width : 9px;
$sprite__icon-minus-white__height : 9px;
$sprite__icon-minus-white__total-width : 99px;
$sprite__icon-minus-white__total-height : 99px;
$sprite__icon-minus-white__image : '../images/sprites/sprite.png';
$sprite__icon-minus-white : 90px 0px -90px 0px 9px 9px 99px 99px '../images/sprites/sprite.png';
$sprite__icon-minus__x : 90px;
$sprite__icon-minus__y : 29px;
$sprite__icon-minus__offset-x : -90px;
$sprite__icon-minus__offset-y : -29px;
$sprite__icon-minus__width : 9px;
$sprite__icon-minus__height : 9px;
$sprite__icon-minus__total-width : 99px;
$sprite__icon-minus__total-height : 99px;
$sprite__icon-minus__image : '../images/sprites/sprite.png';
$sprite__icon-minus : 90px 29px -90px -29px 9px 9px 99px 99px '../images/sprites/sprite.png';
$sprite__icon-plus-white__x : 90px;
$sprite__icon-plus-white__y : 58px;
$sprite__icon-plus-white__offset-x : -90px;
$sprite__icon-plus-white__offset-y : -58px;
$sprite__icon-plus-white__width : 9px;
$sprite__icon-plus-white__height : 9px;
$sprite__icon-plus-white__total-width : 99px;
$sprite__icon-plus-white__total-height : 99px;
$sprite__icon-plus-white__image : '../images/sprites/sprite.png';
$sprite__icon-plus-white : 90px 58px -90px -58px 9px 9px 99px 99px '../images/sprites/sprite.png';
$sprite__icon-plus__x : 0px;
$sprite__icon-plus__y : 90px;
$sprite__icon-plus__offset-x : 0px;
$sprite__icon-plus__offset-y : -90px;
$sprite__icon-plus__width : 9px;
$sprite__icon-plus__height : 9px;
$sprite__icon-plus__total-width : 99px;
$sprite__icon-plus__total-height : 99px;
$sprite__icon-plus__image : '../images/sprites/sprite.png';
$sprite__icon-plus : 0px 90px 0px -90px 9px 9px 99px 99px '../images/sprites/sprite.png';
$sprite__icon-right__x : 29px;
$sprite__icon-right__y : 90px;
$sprite__icon-right__offset-x : -29px;
$sprite__icon-right__offset-y : -90px;
$sprite__icon-right__width : 9px;
$sprite__icon-right__height : 9px;
$sprite__icon-right__total-width : 99px;
$sprite__icon-right__total-height : 99px;
$sprite__icon-right__image : '../images/sprites/sprite.png';
$sprite__icon-right : 29px 90px -29px -90px 9px 9px 99px 99px '../images/sprites/sprite.png';
$sprite__icon-search__x : 0px;
$sprite__icon-search__y : 0px;
$sprite__icon-search__offset-x : 0px;
$sprite__icon-search__offset-y : 0px;
$sprite__icon-search__width : 70px;
$sprite__icon-search__height : 70px;
$sprite__icon-search__total-width : 99px;
$sprite__icon-search__total-height : 99px;
$sprite__icon-search__image : '../images/sprites/sprite.png';
$sprite__icon-search : 0px 0px 0px 0px 70px 70px 99px 99px '../images/sprites/sprite.png';

