$sprite-2x__icon-minus-white__x : 180px;
$sprite-2x__icon-minus-white__y : 0px;
$sprite-2x__icon-minus-white__offset-x : -180px;
$sprite-2x__icon-minus-white__offset-y : 0px;
$sprite-2x__icon-minus-white__width : 18px;
$sprite-2x__icon-minus-white__height : 18px;
$sprite-2x__icon-minus-white__total-width : 198px;
$sprite-2x__icon-minus-white__total-height : 198px;
$sprite-2x__icon-minus-white__image : '../images/sprites/sprite-2x.png';
$sprite-2x__icon-minus-white : 180px 0px -180px 0px 18px 18px 198px 198px '../images/sprites/sprite-2x.png';
$sprite-2x__icon-minus__x : 180px;
$sprite-2x__icon-minus__y : 58px;
$sprite-2x__icon-minus__offset-x : -180px;
$sprite-2x__icon-minus__offset-y : -58px;
$sprite-2x__icon-minus__width : 18px;
$sprite-2x__icon-minus__height : 18px;
$sprite-2x__icon-minus__total-width : 198px;
$sprite-2x__icon-minus__total-height : 198px;
$sprite-2x__icon-minus__image : '../images/sprites/sprite-2x.png';
$sprite-2x__icon-minus : 180px 58px -180px -58px 18px 18px 198px 198px '../images/sprites/sprite-2x.png';
$sprite-2x__icon-plus-white__x : 180px;
$sprite-2x__icon-plus-white__y : 116px;
$sprite-2x__icon-plus-white__offset-x : -180px;
$sprite-2x__icon-plus-white__offset-y : -116px;
$sprite-2x__icon-plus-white__width : 18px;
$sprite-2x__icon-plus-white__height : 18px;
$sprite-2x__icon-plus-white__total-width : 198px;
$sprite-2x__icon-plus-white__total-height : 198px;
$sprite-2x__icon-plus-white__image : '../images/sprites/sprite-2x.png';
$sprite-2x__icon-plus-white : 180px 116px -180px -116px 18px 18px 198px 198px '../images/sprites/sprite-2x.png';
$sprite-2x__icon-plus__x : 0px;
$sprite-2x__icon-plus__y : 180px;
$sprite-2x__icon-plus__offset-x : 0px;
$sprite-2x__icon-plus__offset-y : -180px;
$sprite-2x__icon-plus__width : 18px;
$sprite-2x__icon-plus__height : 18px;
$sprite-2x__icon-plus__total-width : 198px;
$sprite-2x__icon-plus__total-height : 198px;
$sprite-2x__icon-plus__image : '../images/sprites/sprite-2x.png';
$sprite-2x__icon-plus : 0px 180px 0px -180px 18px 18px 198px 198px '../images/sprites/sprite-2x.png';
$sprite-2x__icon-right__x : 58px;
$sprite-2x__icon-right__y : 180px;
$sprite-2x__icon-right__offset-x : -58px;
$sprite-2x__icon-right__offset-y : -180px;
$sprite-2x__icon-right__width : 18px;
$sprite-2x__icon-right__height : 18px;
$sprite-2x__icon-right__total-width : 198px;
$sprite-2x__icon-right__total-height : 198px;
$sprite-2x__icon-right__image : '../images/sprites/sprite-2x.png';
$sprite-2x__icon-right : 58px 180px -58px -180px 18px 18px 198px 198px '../images/sprites/sprite-2x.png';
$sprite-2x__icon-search__x : 0px;
$sprite-2x__icon-search__y : 0px;
$sprite-2x__icon-search__offset-x : 0px;
$sprite-2x__icon-search__offset-y : 0px;
$sprite-2x__icon-search__width : 140px;
$sprite-2x__icon-search__height : 140px;
$sprite-2x__icon-search__total-width : 198px;
$sprite-2x__icon-search__total-height : 198px;
$sprite-2x__icon-search__image : '../images/sprites/sprite-2x.png';
$sprite-2x__icon-search : 0px 0px 0px 0px 140px 140px 198px 198px '../images/sprites/sprite-2x.png';

@mixin sprite-width($sprite){
    width: nth($sprite, 5);
}

@mixin sprite-height($sprite){
    height: nth($sprite, 6);
}

@mixin sprite-position($sprite, $extra-offset-x: 0, $extra-offset-y: 0){
    $sprite-offset-x: nth($sprite, 3) + $extra-offset-x;
    $sprite-offset-y: nth($sprite, 4) + $extra-offset-y;
    background-position: $sprite-offset-x $sprite-offset-y;
}

@mixin sprite-image($sprite) {
    $sprite-image: nth($sprite, 9);
    background-image: url(#{$sprite-image});
}

@mixin sprite($sprite){
    @include sprite-image($sprite);
    @include sprite-position($sprite);
    @include sprite-width($sprite);
    @include sprite-height($sprite);
}

// -------------------------------------------------------------- //
// Retina ------------------------------------------------------- //
// -------------------------------------------------------------- //

// @source bensmithett.com/goodbye-compass
// @source https://github.com/Ensighten/spritesmith/issues/19#issuecomment-24843826

// Retina sprite full works
// @include sprite-2x($sprite__twitter, $sprite-2x__twitter);
@mixin sprite-2x($sprite1x, $sprite2x){
    @include sprite($sprite1x);

    @include if-min-resolution (1.5) {
        // Use the 2x image...
        @include sprite-image($sprite2x);

        // ...but set background-size to the size of the 1x image...
        background-size: nth($sprite1x, 7) nth($sprite1x, 8);
    }
}

// Retina sprite background-image only
// Once this is set you can use the position, height & width mixins individually with 1x values
// (e.g. if you only want to set a new background-position on hover, don't need to re-set background-image or you want to adjust the background position)
// @include sprite-2x-image($sprite__twitter, $sprite-2x__twitter);
// @include sprite-position($sprite__twitter, 30, 5);
@mixin sprite-2x-image($sprite1x, $sprite2x){
    @include sprite-image($sprite1x);
    background-repeat: no-repeat;

    @include if-min-resolution (1.5) {
        @include sprite-image($sprite2x);
        background-size: nth($sprite1x, 7) nth($sprite1x, 8)
    }
}
