$sprite-2x__icon-minus-white__x : 0px;
$sprite-2x__icon-minus-white__y : 0px;
$sprite-2x__icon-minus-white__offset-x : 0px;
$sprite-2x__icon-minus-white__offset-y : 0px;
$sprite-2x__icon-minus-white__width : 18px;
$sprite-2x__icon-minus-white__height : 18px;
$sprite-2x__icon-minus-white__total-width : 140px;
$sprite-2x__icon-minus-white__total-height : 430px;
$sprite-2x__icon-minus-white__image : '../images/sprites/sprite-core-2x.png';
$sprite-2x__icon-minus-white : 0px 0px 0px 0px 18px 18px 140px 430px '../images/sprites/sprite-core-2x.png';
$sprite-2x__icon-minus__x : 0px;
$sprite-2x__icon-minus__y : 58px;
$sprite-2x__icon-minus__offset-x : 0px;
$sprite-2x__icon-minus__offset-y : -58px;
$sprite-2x__icon-minus__width : 18px;
$sprite-2x__icon-minus__height : 18px;
$sprite-2x__icon-minus__total-width : 140px;
$sprite-2x__icon-minus__total-height : 430px;
$sprite-2x__icon-minus__image : '../images/sprites/sprite-core-2x.png';
$sprite-2x__icon-minus : 0px 58px 0px -58px 18px 18px 140px 430px '../images/sprites/sprite-core-2x.png';
$sprite-2x__icon-plus-white__x : 0px;
$sprite-2x__icon-plus-white__y : 116px;
$sprite-2x__icon-plus-white__offset-x : 0px;
$sprite-2x__icon-plus-white__offset-y : -116px;
$sprite-2x__icon-plus-white__width : 18px;
$sprite-2x__icon-plus-white__height : 18px;
$sprite-2x__icon-plus-white__total-width : 140px;
$sprite-2x__icon-plus-white__total-height : 430px;
$sprite-2x__icon-plus-white__image : '../images/sprites/sprite-core-2x.png';
$sprite-2x__icon-plus-white : 0px 116px 0px -116px 18px 18px 140px 430px '../images/sprites/sprite-core-2x.png';
$sprite-2x__icon-plus__x : 0px;
$sprite-2x__icon-plus__y : 174px;
$sprite-2x__icon-plus__offset-x : 0px;
$sprite-2x__icon-plus__offset-y : -174px;
$sprite-2x__icon-plus__width : 18px;
$sprite-2x__icon-plus__height : 18px;
$sprite-2x__icon-plus__total-width : 140px;
$sprite-2x__icon-plus__total-height : 430px;
$sprite-2x__icon-plus__image : '../images/sprites/sprite-core-2x.png';
$sprite-2x__icon-plus : 0px 174px 0px -174px 18px 18px 140px 430px '../images/sprites/sprite-core-2x.png';
$sprite-2x__icon-right__x : 0px;
$sprite-2x__icon-right__y : 232px;
$sprite-2x__icon-right__offset-x : 0px;
$sprite-2x__icon-right__offset-y : -232px;
$sprite-2x__icon-right__width : 18px;
$sprite-2x__icon-right__height : 18px;
$sprite-2x__icon-right__total-width : 140px;
$sprite-2x__icon-right__total-height : 430px;
$sprite-2x__icon-right__image : '../images/sprites/sprite-core-2x.png';
$sprite-2x__icon-right : 0px 232px 0px -232px 18px 18px 140px 430px '../images/sprites/sprite-core-2x.png';
$sprite-2x__icon-search__x : 0px;
$sprite-2x__icon-search__y : 290px;
$sprite-2x__icon-search__offset-x : 0px;
$sprite-2x__icon-search__offset-y : -290px;
$sprite-2x__icon-search__width : 140px;
$sprite-2x__icon-search__height : 140px;
$sprite-2x__icon-search__total-width : 140px;
$sprite-2x__icon-search__total-height : 430px;
$sprite-2x__icon-search__image : '../images/sprites/sprite-core-2x.png';
$sprite-2x__icon-search : 0px 290px 0px -290px 140px 140px 140px 430px '../images/sprites/sprite-core-2x.png';

