// grid
// --------------------------------------------------
*, *:before, *:after {
    @include box-sizing(border-box);
}

// container
// --------------------------------------------------
.container {
  padding:0 30px;
  margin:0 auto;

  @include breakpoint(small) {
    //max-width: 768px;
  }

  @include breakpoint(medium) {
    //max-width: 992px;
  }

  @include breakpoint(large) {
    max-width: 1230px;
  }
}

// column group clearfix
// --------------------------------------------------
.column-group {
  *zoom: 1;
}

.column-group:before,
.column-group:after {
  display: table;
  content: "";
  line-height: 0;
}

.column-group:after {
  clear: both;
}

// column group
// --------------------------------------------------
.column-group {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

// column group (nested)
// --------------------------------------------------
.column-group > .column-group {
  clear: none;
  float: left;
  margin: 0 !important;
}

// column
// --------------------------------------------------
.column {
    float: left;
    width:100%;
}