// Account
// --------------------------------------------------
.my-account .title-buttons .link-rss { float:none; margin:0; }

.dashboard .welcome-msg 			{ margin:0 8em 1.5em 0; }
.dashboard .welcome-msg p 			{ margin:0; }
.dashboard .col2-set 				{ margin:0 0 15px; }

// General Box
// --------------------------------------------------
.box-account 						{ background:#fff url(../images/bkg_account_box.gif) 0 0 repeat-x; border:1px solid #ccc; border-color:#ccc #999 #999 #ccc; padding:15px; margin: 0 0 20px; }
.box-account .box-head 				{ border-bottom:1px solid #d9dde3; margin:0 0 10px; text-align:right; }
.box-account .box-head h2 			{ float:left; margin:0; font-size:13px; font-weight:bold; text-transform:uppercase; background-position:0 0; background-repeat:no-repeat; padding-left:21px;  }

.dashboard .box .box-title 			{ background:url(../images/bkg_divider1.gif) 0 100% repeat-x; padding:0 0 2px; margin:0 0 8px; text-align:right; }
.dashboard .box .box-title h3,
.dashboard .box .box-title h4 		{ float:left; font-size:13px; font-weight:bold; margin:0; }

// Block: Recent Orders
// --------------------------------------------------
.dashboard .box-recent .box-head h2 { background-image:url(../images/i_folder-table.gif); }

// Block: Account Information
// --------------------------------------------------
.dashboard .box-info .box-head h2 	{ background-image:url(../images/i_ma-info.gif); }
.dashboard .box-info h4 			{ font-size:11px; font-weight:bold; text-transform:uppercase; }

// Block: Reviews
// --------------------------------------------------
.dashboard .box-reviews .box-head h2 { background-image:url(../images/i_ma-reviews.gif); }
.dashboard .box-reviews .number 	{ float:left; font-size:10px; font-weight:bold; line-height:1;  margin:3px -20px 0 0; padding:2px 3px; background:#0a263c; }
.dashboard .box-reviews .details 	{ margin-left:20px; }
.dashboard .box-reviews li.item 	{ margin:0 0 7px; }
.dashboard .box-reviews li.item.last { margin:0; }
.dashboard .box-reviews .ratings 	{ margin:7px 0 0; }

// Block: Tags
// --------------------------------------------------
.dashboard .box-tags .box-head h2 	{ background-image:url(../images/i_ma-tags.gif); }
.dashboard .box-tags .number 		{ float:left; font-size:10px; font-weight:bold; line-height:1;  margin:3px -20px 0 0; padding:2px 3px; background:#0a263c; }
.dashboard .box-tags .details 		{ margin-left:20px; }
.dashboard .box-tags li.item 		{ margin:0 0 7px; }
.dashboard .box-tags li.item.last 	{ margin:0; }
.dashboard .box-tags .tags strong,
.dashboard .box-tags .tags ul,
.dashboard .box-tags .tags ul li 	{ display:inline; }

// Address Book
// --------------------------------------------------
.addresses-list h2 					{ font-weight:bold; font-size:13px;  text-transform:uppercase; }
.addresses-list h3 					{ font-weight:bold; font-size:13px; }
.addresses-list address 			{ margin:0 0 3px; }
.addresses-list p 					{ margin:0; }
.addresses-list a 					{ font-weight:bold; }
.addresses-list .link-remove 		{}
.addresses-list .separator 			{ margin:0 3px; }
.addresses-list li.item				{ background:#fff url(../images/bkg_account_box.gif) 0 0 repeat-x; border:1px solid #ccc; padding:10px 13px; margin:0 0 10px; }
.addresses-list li.empty 			{ background:none; border:0; padding:0; }
.addresses-list li.empty p 			{ font-weight:bold; }
.addresses-list .addresses-additional li.item { background:none; border:0; padding:0; }

// Order View
// --------------------------------------------------
.order-info 						{ background:#dee5e8; border:1px solid #d0cbc1; padding:4px 8px; margin:0 0 8px; }
.order-info dt,
.order-info dd,
.order-info ul,
.order-info li 						{ display:inline; }
.order-info .current 				{ font-weight:bold; }
.order-info li 						{ margin:0 3px; }
.order-date 						{ margin:10px 0; }

.order-info-box 					{ background:#fff url(../images/bkg_block-title.gif) 0 0 repeat-x; border:1px solid #d0cbc1; padding:12px 15px; margin:0 0 15px; }
.order-info-box h2 					{ font-weight:bold; font-size:13px; }
.order-info-box .box-payment p 		{ margin:0 0 3px; }
.order-info-box .box-payment th 	{ font-weight:bold; padding-right:7px; }

.order-items 						{ width:100%; overflow-x:auto; }
.order-items h2,
.order-items h3 					{ font-weight:bold; font-size:13px; }
.order-items .product-name 			{ font-size:1em !important; font-weight:bold !important; }
.order-items .link-print 			{ float:right;  font-weight:normal; }
.order-items p .link-print 			{ float:none; }

.order-gift-message 				{ margin:15px 0; }
.gift-message dt strong 			{}
.gift-message dd 					{ margin:5px 0 0; font-size:13px; }

.order-about						{ margin:15px 0; }
.order-about dt 					{ font-weight:bold; }
.order-about dd 					{ font-size:13px; margin:0 0 7px; }

.tracking-table 					{ margin:0 0 15px; }
.tracking-table th 					{ font-weight:bold; white-space:nowrap; }
.tracking-table th,
.tracking-table td					{ padding:1px 5px 0 0; }

.tracking-table-popup 				{ width:100%; }
.tracking-table-popup th 			{ font-weight:bold; white-space:nowrap; }
.tracking-table-popup th,
.tracking-table-popup td 			{ padding:1px 8px; }

// Order Print Pages
// --------------------------------------------------
.page-print .print-head 			{ margin:0 0 15px; }
.page-print .print-head .logo 		{ float:left; }
.page-print .print-head address 	{ float:left; margin-left:15px; }
.page-print h1 						{ font-size:16px; font-weight:bold; }
.page-print h2,
.page-print h3 						{ font-size:13px; font-weight:bold; }
.page-print h2.h2 					{ font-size:16px; font-weight:bold; }
.page-print .order-date 			{ background:url(../images/bkg_divider1.gif) 0 100% repeat-x; padding:0 0 10px; margin:0 0 10px; }
.page-print .col2-set 				{ margin:0 0 10px; }

// Price Rewrites
// --------------------------------------------------
.page-print .gift-message-link 		{ display:none; }
.page-print .price-excl-tax,
.page-print .price-incl-tax 		{ display:block; white-space:nowrap; }
.page-print .cart-price,
.page-print .price-excl-tax .label,
.page-print .price-incl-tax .label,
.page-print .price-excl-tax .price,
.page-print .price-incl-tax .price 	{ display:inline; }

// My Wishlist
// --------------------------------------------------
.my-wishlist .data-table td 		{ padding:10px; }
.my-wishlist .product-image 		{ display:block; width:113px; height:113px; margin:0 0 5px; }
.my-wishlist textarea 				{ display:block; width:97%; height:109px; }
.my-wishlist .buttons-set 			{ margin-top:2em; }
.my-wishlist .buttons-set button.button { float:none; }
.my-wishlist .buttons-set .btn-add span,
.my-wishlist .buttons-set .btn-share span { border-color:#406a83; background:#618499; }
#wishlist-table .add-to-links 		{ white-space:nowrap; }

// My Tags
// --------------------------------------------------
.my-tag-edit 						{ float:left; margin:0 0 10px; }
.my-tag-edit .btn-remove 			{ float:right; margin:5px 0 0 5px; }
#my-tags-table 						{ clear:both; }
#my-tags-table td 					{ padding:10px; }
#my-tags-table .add-to-links 		{ white-space:nowrap; }

// My Reviews
// --------------------------------------------------
#my-reviews-table td 				{ padding:10px; }
.product-review .product-img-box 	{ float:left; width:140px;  }
.product-review .product-img-box .product-image { display:block; width:125px; height:125px; }
.product-review .product-img-box .label { font-size:11px; margin:0 0 3px; }
.product-review .product-img-box .ratings .rating-box { float:none; display:block; margin:0 0 3px; }
.product-review .product-details 	{ margin-left:150px; }
.product-review .product-name 		{ font-size:16px; font-weight:bold; margin:0 0 10px; }
.product-review h3 					{ font-size:12px; margin:0 0 3px;  }
.product-review .ratings-table 		{ margin:0 0 10px; }
.product-review dt 					{ font-weight:bold; }
.product-review dd 					{ font-size:13px; margin:5px 0 0; }

// Billing Agreements
// --------------------------------------------------
.billing-agreements .form-list li select { float:left; }
.billing-agreements .form-list li button.button { float:left; margin-left:10px; }
.billing-agreements .table-caption 	{ font-weight:bold; font-size:13px; }

// Account login / create pages
// --------------------------------------------------
.account-login .content 			{ min-height:240px; padding:14px 21px; background:#efefef; border-bottom:0; }
.account-login .content h2 			{ font-weight:bold; font-size:13px; margin:0 0 14px; padding:0 0 5px 23px; border-bottom:1px solid #ddd; background-position:0 1px; background-repeat:no-repeat; text-transform:uppercase; }
.account-login .new-users h2 		{ background-image:url(../images/i_page1.gif)}
.account-login .registered-users h2 { background-image:url(../images/i_page2.gif); }
.account-login .buttons-set 		{ border-top:0; margin:0; padding:8px 13px;  }
.account-create 					{}