// Category
// --------------------------------------------------
.category-image	{ 
	width:100%; 
	overflow:hidden; 
	margin:0 0 10px; 
	text-align:center; 
}

.category-description { 
	margin:0 0 10px;
}

// View Type: Grid
// --------------------------------------------------
.products-grid { 
	position:relative; 

	li.item { 
		float:left; 
		width:138px; 
		padding:12px 25px 80px; 

		&.first { 
			padding-left: 0;
		}
		
		&.last { 
			padding-right: 0;
		}	
	}

	.product-image { 
		display:block; 
		width:135px; 
		height:135px; 
		margin:0 0 10px; 
	}
	
	.product-name { 
		margin:0 0 5px; 
		font-weight:bold; 
		font-size:13px;
	}

	.price-box { 
		margin:5px 0;
	}
	
	.availability { 
		line-height:21px;
	}
	
	.actions { 
		position:absolute; 
		bottom:12px;
	}
}


// View Type: List
// --------------------------------------------------
.products-list { 
	float:left; 

	li.item { 
		padding:12px 0px;
		
		&.last { 
			border-bottom:0;
		}
	}

	.product-image { 
		float:left; 
		width:135px; 
		height:135px; 
		margin:0 0 10px; 
	}
	
	.product-shop { 
		margin-left:150px;
	}
	
	.product-name { 
		margin:0 0 5px; 
		font-weight:bold; 
		font-size:13px; 
	}

	.price-box { 
		float:left; 
		margin:3px 13px 5px 0;
	}

	.availability { 
		float:left; 
		margin:3px 0 0;
	}
	
	.desc { 
		clear:both; 
		padding:6px 0 0; 
		margin:0 0 15px; 
		line-height:1.35; 

		.link-more { 
			font-size:11px;
		}
	}
	
	.add-to-links { 
		clear:both;

		li { 
			display:inline;
		}

		.separator { 
			display:inline; 
			margin:0 2px;
		}
	}
}