// Product
// --------------------------------------------------

// Rating
// --------------------------------------------------
.ratings 							{ font-size:11px; line-height:1.25; margin:7px 0; }
.ratings strong 					{ float:left; margin:1px 3px 0 0; }
.ratings .rating-links 				{ margin:0; }
.ratings .rating-links .separator 	{ margin:0 2px; }
.rating-box 						{ width:69px; height:13px; font-size:0; line-height:0; background:url(../images/bkg_rating.gif) 0 0 repeat-x; text-indent:-999em; overflow:hidden; }
.rating-box .rating 				{ float:left; height:13px; background:url(../images/bkg_rating.gif) 0 100% repeat-x; }
.ratings .rating-box 				{ float:left; margin-right:3px; }
.ratings-table th,
.ratings-table td 					{ font-size:11px; line-height:1.15; padding:3px 0; }
.ratings-table th 					{ font-weight:bold; padding-right:8px; }

// Availability
// --------------------------------------------------
.availability 						{ margin:0; }
.availability span 					{ font-weight:bold; }
.availability-only 					{ margin:10px 0 7px; line-height:16px; background:url(../images/i_availability_only.gif) 0 50% no-repeat; padding-left:15px; }
.availability-only span,
.availability-only a 				{ border-bottom:1px dashed #751d02;  cursor:help; }
.availability-only a 				{ background:url(../images/i_availability_only_arrow.gif) 100% 0 no-repeat; cursor:pointer; padding-right:15px; text-decoration:none; }
.availability-only .expanded 		{ background-position:100% -15px; }
.availability-only-details 			{ margin:0 0 7px; }
.availability-only-details th 		{ background:#d2d6d9; font-size:10px; padding:0 8px; }
.availability-only-details td 		{ background:#ebf0f3; border-bottom:1px solid #fff; font-size:11px; padding:2px 8px 1px; }
.availability-only-details tr.odd td.last {  font-weight:bold; }

.product-view .product-shop .availability { font-size:11px; }
.product-view .product-shop .availability span { font-weight:normal; }

// Alerts
// --------------------------------------------------
.alert-price 						{ margin:0; font-size:11px; }
.alert-stock 						{ margin:0; font-size:11px; }

// Add to Links
// --------------------------------------------------
.add-to-links 						{ font-size:11px; margin:5px 0 0; }
.add-to-links .separator 			{ display:none; }

// Add to Cart
// --------------------------------------------------
.add-to-cart label 					{ float:left; margin-right:5px; font-weight:bold;  }
.add-to-cart .qty 					{ float:left; margin-right:5px; }
.add-to-cart button.button 			{ float:left; }
.add-to-cart .paypal-logo 			{ clear:left; margin:0; padding:10px 0 0; text-align:right; }

// Add to Links + Add to Cart
// --------------------------------------------------
.add-to-box 						{ margin:10px 0; }
.add-to-box .add-to-cart			{ float:left; }
.add-to-box .or						{ float:left; font-weight:bold; margin:0 7px;  }
.add-to-box .add-to-links 			{ float:left; margin:0; font-size:12px !important; line-height:1.25 !important; text-align:left !important; }
.add-to-box .add-to-links li 		{ display:block !important; }
.add-to-box .add-to-links li .separator { display:none !important; }

.product-view 						{}
.product-essential 					{ padding:25px; background: #fff; }
.product-essential h2 				{}

.product-collateral 				{ padding:25px; }
.product-collateral h2 				{ font-weight:bold; font-size:15px; padding:0 0 1px; margin:0 0 15px; }
.product-collateral .box-collateral { margin:0 0 25px; }

// Product Images
// --------------------------------------------------
.product-view .product-img-box 		{ float:left; width:267px; }
.product-view .product-img-box .product-image { margin:0 0 13px; }
.product-view .product-img-box .product-image-zoom { position:relative; width:265px; height:265px; overflow:hidden; z-index:9; }
.product-view .product-img-box .product-image-zoom img { position:absolute; left:0; top:0; cursor:move; }
.product-view .product-img-box .zoom-notice { font-size:11px; margin:0 0 5px; text-align:center; }
.product-view .product-img-box .zoom { position:relative; z-index:9; height:18px; margin:0 auto 13px; padding:0 28px; background:url(../images/slider_bg.gif) 50% 50% no-repeat; cursor:pointer; }
.product-view .product-img-box .zoom.disabled { -moz-opacity:.3; -webkit-opacity:.3; -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";/*IE8*/ opacity:.3; }
.product-view .product-img-box .zoom #track { position:relative; height:18px; }
.product-view .product-img-box .zoom #handle { position:absolute; left:0; top:-1px; width:9px; height:22px; background:url(../images/magnifier_handle.gif) 0 0 no-repeat;  }
.product-view .product-img-box .zoom .btn-zoom-out { position:absolute; left:2px; top:0; }
.product-view .product-img-box .zoom .btn-zoom-in { position:absolute; right:2px; top:0; }
.product-view .product-img-box .more-views h2 { font-size:11px;  margin:0 0 8px; text-transform:uppercase; }
.product-view .product-img-box .more-views ul { margin-left:-9px }
.product-view .product-img-box .more-views li { float:left; margin:0 0 8px 9px; }
.product-view .product-img-box .more-views li a { float:left; width:56px; height:56px; overflow:hidden; }

.product-image-popup 				{ margin:0 auto; }
.product-image-popup .nav 			{ font-weight:bold; text-align:center; }
.product-image-popup .image 		{ display:block; margin:10px 0;  }
.product-image-popup .image-label 	{ font-size:13px; font-weight:bold; margin:0 0 10px;  }

// Product Shop
// --------------------------------------------------
.product-view .product-shop 		{ float:right; width:330px; }
.product-view .product-shop .product-name { margin:0 0 5px; }
.product-view .product-shop .product-name h1 { margin:0; font:bold 15px/1.35 Arial, Helvetica, sans-serif; }
.product-view .product-shop .availability { margin:10px 0; }
.product-view .product-shop .short-description { margin:10px 0; padding:10px 0 0; }
.product-view .product-shop .price-box { margin:10px 0; }
.product-view .product-shop .add-to-links { margin:0; }
.product-view .product-shop .add-to-links { font-size:12px; text-align:right; }
.product-view .product-shop .add-to-links li,
.product-view .product-shop .add-to-links li .separator { display:inline; }
.product-view .product-shop .add-to-links a {  font-weight:normal !important; }

// Product Options
// --------------------------------------------------
.product-options 					{ margin:20px 0 0; padding:10px 15px 20px;  }
.product-options dt 				{ padding:10px 0 0; font-weight:normal; }
.product-options dt label 			{ font-weight:bold;  }
.product-options dt span.required 	{}
.product-options dt .qty-holder 	{ float:right; margin-right:15px; }
.product-options dt .qty-holder label { vertical-align:middle; }
.product-options dt .qty-disabled 	{ background:none; border:0; padding:3px;  }
.product-options dd 				{ padding:5px 10px 15px; margin:0 0 5px; border-bottom:1px solid #e4e4e4; }
.product-options dl.last dd.last 	{ border-bottom:0; padding-bottom:5px; margin-bottom:0; }
.product-options dd input.input-text { width:98%; }
.product-options dd input.datetime-picker { width:150px; }
.product-options dd .time-picker 	{ display:-moz-inline-box; display:inline-block; padding:2px 0; vertical-align:middle; }
.product-options dd textarea 		{ width:98%; height:8em; }
.product-options dd select 			{ width:99%; }
.product-options dd .multiselect option {  padding:2px 4px; }
.product-options ul.options-list 	{ margin-right:5px; }
.product-options ul.options-list li { line-height:1.5; padding:2px 0; }
.product-options ul.options-list input.radio { float:left; margin-top:3px; }
.product-options ul.options-list input.checkbox { float:left; margin-top:3px; }
.product-options ul.options-list .label { display:block; margin-left:18px; }
.product-options ul.options-list label { font-weight:normal; }
.product-options ul.validation-failed { padding:0 7px; }
.product-options p.note 			{ margin:0; font-size:11px; }
.product-options p.required 		{ margin-bottom:0; padding:15px 0 0; }

.product-options-bottom 			{  padding:15px 20px;  }
.product-options-bottom .tier-prices { margin:0; padding:0 0 10px; border:0; background:0; }
.product-options-bottom .tier-prices li { background:0; padding:2px 0;  }
.product-options-bottom .tier-prices .price,
.product-options-bottom .tier-prices .benefit {  }
.product-options-bottom .price-box 	{ float:left; margin:0; padding:0; }
.col3-layout .product-options-bottom .price-box { float:none; padding:0 0 5px; }
.product-options-bottom .price-label { float:left; padding-right:5px; }
.product-options-bottom .price-tax 	{ float:left; }
.product-options-bottom .add-to-cart { float:right; }
.product-shop .product-options-bottom { margin:0 0 10px; }
.product-shop .product-options-bottom .price-box { float:none; margin:0 0 5px; }
.product-shop .product-options-bottom .price-label { float:none; padding-right:0; }
.product-shop .product-options-bottom .price-tax { float:none; }
.product-shop .product-options-bottom .add-to-cart-box { clear:both; float:left; padding-top:12px; }

// Block: Upsell
// --------------------------------------------------
.product-view .box-up-sell h2 		{  padding:0; margin:0 0 8px; }
.product-view .box-up-sell .products-grid { width:100%;  }
.product-view .box-up-sell .products-grid td { width:25%; padding:15px 10px 12px; line-height:1.6em; }
.product-view .box-up-sell .products-grid tr.last td {  }
.product-view .box-up-sell .products-grid td.last {  }
.product-view .box-up-sell .products-grid td img {  }
.product-view .box-up-sell .products-grid .product-image { text-align:center; }
.product-view .box-up-sell .products-grid td.empty { border-right:0; }
.product-view .box-up-sell .products-grid .ratings .rating-box { float:none; display:block; margin:0 0 3px; }

// Block: Tags
// --------------------------------------------------
.product-view .box-tags 			{ margin:0; }
.product-view .box-tags h3 			{ font-size:13px; }
.product-view .box-tags .product-tags { display:block; margin:0 0 15px; }
.product-view .box-tags .product-tags li { display:inline; padding:0 7px 0 4px; }
.product-view .box-tags .product-tags li.first { padding-left:0; }
.product-view .box-tags .product-tags li.last { background:none; padding-right:0; }
.product-view .box-tags .form-add label { display:block; font-size:13px; font-weight:bold; margin:0 0 5px; }
.product-view .box-tags .form-add .input-box { float:left; width:305px; margin:0 5px 0 0; background:url(../images/i_tag_add.gif) 0 2px no-repeat; padding:0 0 0 23px; }
.product-view .box-tags .form-add input.input-text { width:299px; }
.product-view .box-tags .form-add button.button span { border-color:#406a83; background:#618499; }
.product-view .box-tags .note 		{ margin:3px 0 0; padding:0 0 0 23px; font-size:11px; }

// Block: Reviews
// --------------------------------------------------
.product-view .box-reviews dl 		{ margin:15px 0; }
.product-view .box-reviews dt a,
.product-view .box-reviews dt span 	{ font-weight:bold; }
.product-view .box-reviews dd 		{ margin:0 0 15px; }
.product-view .box-reviews dd small { font-style:italic; }
.product-view .box-reviews .form-add { margin:15px 0 0; }
.product-view .box-reviews .form-add h3 { font-size:13px; font-weight:normal; }
.product-view .box-reviews .form-add h3 span { font-weight:bold; }
.product-view .box-reviews .form-add h4 { font-size:12px; }
.product-view .box-reviews .form-add .data-table td { text-align:center; }
.product-view .box-reviews .form-add .form-list { margin:15px 0 0; }
.product-view .box-reviews .form-add .form-list .input-box { width:360px; }
.product-view .box-reviews .form-add .form-list input.input-text,
.product-view .box-reviews .form-add .form-list textarea { width:354px; }

// Send a Friend
// --------------------------------------------------
.send-friend .form-list 			{ width:615px; overflow:hidden; }
.send-friend .form-list li 			{ margin-right:-15px; }
.send-friend .form-list li p 		{ margin:0 15px 0 0; }
.send-friend .form-list .field 		{ width:315px; }
.send-friend .form-list .input-box 	{ width:300px; }
.send-friend .form-list input.input-text,
.send-friend .form-list textarea 	{ width:294px; }
.send-friend .form-list li.wide .input-box { width:612px; }
.send-friend .form-list li.wide textarea { width:609px; }
.send-friend .buttons-set .limit 	{ float:right; margin:0 7px 0 0; font-size:11px; line-height:21px; }