// Toolbar
// --------------------------------------------------

// Pager
// --------------------------------------------------
.pager { 
	font-size:11px;  
	padding:4px 8px; 
	text-align:center;

	.amount { 
		float:left; 
		margin:0;
	}

	.limiter { 
		float:right;

		label { 
			vertical-align:middle;
		}	
	}

	.pages { 
		margin:0 140px;
		
		ol { 
			display:inline;
		}
		
		li { 
			display:inline; 
			margin:0 2px;
		}
	}
}

// Sorter
// --------------------------------------------------
.sorter {
	font-size:11px;
	padding:3px 0px;

	.view-mode { 
		float:left; 
		margin:0;
	}
	
	.sort-by { 
		float:right; 
		padding-right:36px;

		label { 
			vertical-align:middle;
		}
	}
}

// Toolbar
// --------------------------------------------------
.toolbar { 
	clear: both;
	line-height: 20px;

	.pager { 
		padding:3px 0px;
	}
}