// Fonts
// --------------------------------------------------
$fontFamilyOne:         'Open Sans', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
$fontWeight400:         400;
$fontWeight600:         600;
$fontWeight700:         700;

// Colors
// --------------------------------------------------
$colorWhite:            #fff;

// Layout
// --------------------------------------------------
$siteWidth:             965px;

// Tools
// --------------------------------------------------
$alignCenter:           center;
$alignLeft:             left;
$alignRight:            right;
$alignTop:              top;
$alignBottom:           bottom;
$alignMiddle:           middle;

// Media queries breakpoints
// --------------------------------------------------

// Extra small screen / phone
$screen-xs:                  480px;
$screen-phone:               $screen-xs;

// Small screen / tablet
$screen-sm:                  768px;
$screen-tablet:              $screen-sm;

// Medium screen / desktop
$screen-md:                  992px;
$screen-desktop:             $screen-md;

// Large screen / wide desktop
$screen-lg:                  1200px;
$screen-lg-desktop:          $screen-lg;